#mainContent {
	background-color: #fff;
	padding: 0 1em;

}

#belowSlider,
#stickyArea {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Home Page Categories
------------------------------------------------------------------------------------------------------------------------------------------
*/
#homeNews .categories-6h ul li {
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

#homeNews .categories-6h ul li a::before {
	content: '';
	width: 100%;
	padding-bottom: 50%;
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
	display: block;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Home Page posts
------------------------------------------------------------------------------------------------------------------------------------------
*/
.posts article {
	position: relative;
	padding: 1em 2em;
	background-position: center;
	color: var(--theme-white);
	overflow: hidden;
	align-content: center;
	min-height: 250px;
	border: 1px solid var(--theme-black);
}

.posts article::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.posts article h2 {
	position: relative;
	z-index: 2;
	color: var(--theme-white);
}

.posts a {
	text-decoration: none;
}

.stories {
	display: grid;
	gap: 1%;
}

#homeNews .categories-6h ul {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	gap: 1em;
}

@media (min-width:350px) {
	#homeNews .categories-6h ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width:600px) {
	#homeNews .categories-6h ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width:1000px) {
	.stories {
		grid-template-columns: repeat(3, minmax(30%, 1fr));
		min-height: 250px;
	}

	#stickyArea .stories {
		display: grid;
		grid-template-columns: 4fr 2fr;
		gap: 1em;
	}

	#stickyArea .stories article:first-child {
		grid-row-end: span 2;
	}

	#homeNews .categories-6h ul {
		grid-template-columns: repeat(6, 1fr);
	}

}

/*
--------------------------------------------------------------------------------------------------------------
Social Media Icons
--------------------------------------------------------------------------------------------------------------
*/
.sociallinks {
	text-align: center;
	padding-bottom: 50px;
}

.sociallinks li {
	display: inline;
	margin: 0 10px 0 0;
}

.sociallinks li a {
	text-decoration: none;
}

.sociallinks li img {
	width: 45px;
}